<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Concur Support</title>
    <link href="css/main.css" rel="stylesheet" type="text/css" />
    <link href="css/1000_9_10.css" rel="stylesheet" type="text/css" />
    <link href="css/reset.css" rel="stylesheet" type="text/css" />
    <link href="css/text.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="/resource/SupportSiteOverrides">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

    <style>

     /* Header iFrame */   
     .headerFrame{
        min-height: 200px !important;
        padding: 0 0px;        
        border:none !important;
        overflow-y: hidden;
        overflow-x: hidden;
        scrolling:no;  
    }


    /* Overrides for the Ideas Pages */   
    @media all{

        .ideaList           {   width:10px;                 }
        .ideaContent        {   width: 750px !important;    }
        .ideaBody           {   width:750px;                }
        .ideaContentWidth   {   width: 700px !important;    }    
        .bodyDiv            {   background-color: white;    }    

    }

    /* Override to suppress the left nav & standard portal header when the user is logged in */   
    .sidebarCell {  display:none;   }
    .bPageHeader {  display:none;   }

    /*  Main body css   */
    body{
        margin-left: auto;
        margin-right: auto;
        width: 1000px;
    }

    </style>
    <style>
        .bgconcurblue {background-color: #1c92cb;}

        .CommunityBox {
            background-color: #F1F2F3;  
        }
        
        .SideTile {
            text-decoration: none;
            padding: 0px;
        }
        
        .SideTile a {
            text-decoration: none;
            padding: 0px;
        }
        
        .ButtonBox {
            height: 30px;
            margin-top: 15px;
            color: #303038;
            display: block;
            line-height: 30px;
        }

        .CustomBtn {
            line-height: 30px;
            height: 30px;
            background: #EBB142;
            border: none;
            -moz-border-radius: 3px; 
            border-radius: 3px;
            vertical-align: middle;
        }

        .CustomBtn:hover { 
            background: #af8d31;
        }
        
        .alert a:link {
            text-decoration: underline;
        }
        
        a:visited {
            background-color: transparent;
        }
        
        .PhoneBox {
            background-color: #F1F2F3;  
            height: 110px;
            margin-top: 15px;
            color: #303038;
            display: block;
        }
        
        .InactiveChatBox {
            height: 55px;
            margin-top: 15px;
            color: #303038;
            display: block;
        }
        
        .InactiveChatText {
            color: #CCCCCC;
            display: block;
            text-decoration: none;
            font-size: 0.9em;
        }
        
        .PhoneBoxText {
            background-color: #F1F2F3;  
            color: #303038;
            display: block;
            text-decoration: none;
            font-size: 0.9em;
            font-weight: lighter;
        }
    </style>
    <script>

    redirectForPortalDefaultHome();

    function redirectForPortalDefaultHome(){
        if(document.URL.indexOf('home.jsp') != -1){
            top.location.href=detectSiteURL()+"/supportsitehome";
        }
    }
    
    function detectSiteURL(){
        if(location.pathname.indexOf('/CgeSupport/') != -1){
            return '/CgeSupport';
        } else if(location.pathname.indexOf('/CteSupport/')  != -1){
            return '/CteSupport';
        } else if(location.pathname.indexOf('/CsbSupport/')  != -1){
            return '/CsbSupport';
        } else if(location.pathname.indexOf('/CteStandard/')  != -1){
            return '/CteStandard';
        } else {
            return '/apex';
        }    
    }  

    
    function targetFrame(){
        //frameSrc = detectSiteURL()+'/SupportSitePortalHeader';            
        //document.getElementById('theFrame').src = frameSrc;        
    }

    function setTopNav(tab_selected) {
        console.log('Active navigation tab: '+tab_selected);
        $(".Home").removeClass("ActiveMenu");
        $("."+tab_selected).addClass("ActiveMenu");        
    }

    </script>
    
    <!-- <iframe class="headerFrame" scrolling="no" style="width:100%;" id="theFrame"></iframe> -->
    <script> 
        if(document.getElementById('theFrame').src == '')targetFrame();        
    </script>
</head>
<body>
    <div class="main">  
        <form id="j_id0:theTemplatePage:j_id2:j_id3:j_id5" name="j_id0:theTemplatePage:j_id2:j_id3:j_id5" method="post" action="https://c.cs18.visual.force.com/apex/supportsitehome" enctype="application/x-www-form-urlencoded">
        <input type="hidden" name="j_id0:theTemplatePage:j_id2:j_id3:j_id5" value="j_id0:theTemplatePage:j_id2:j_id3:j_id5">

        <div class="header">            
            <div class="Logo">
                <a href="#">
                    <img alt="Insert Logo Here" id="Insert_logo" name="Insert_logo" src="images/SupportLogo.png">
                </a>
            </div>
            <div id="j_id0:theTemplatePage:j_id2:j_id3:j_id5:j_id7" class="Profile">
                <span style="color: #ffffff; !important;">Welcome <%= @user %></span><br>
                <script type="text/javascript" language="Javascript">function dpf(f) {var adp = f.adp;if (adp != null) {for (var i = 0;i < adp.length;i++) {adp[i].parentNode.removeChild(adp[i]);}}};function apf(f, pvp) {var adp = new Array();f.adp = adp;var ps = pvp.split(',');for (var i = 0,ii = 0;i < ps.length;i++,ii++) {var p = document.createElement("input");p.type = "hidden";p.name = ps[i];p.value = ps[i + 1];f.appendChild(p);adp[ii] = p;i += 1;}};function jsfcljs(f, pvp, t) {apf(f, pvp);var ft = f.target;if (t) {f.target = t;}f.submit();f.target = ft;dpf(f);};</script>
                <a href="#" style="color: #ffffff; !important;text-decoration: none;">My Profile</a>
                <span style="color: #ffffff; !important;">&nbsp;│&nbsp;</span><a href="unauthenticate" style="color: #ffffff; !important;text-decoration: none;">Close</a>
            </div>
            
        </div>
        <span id="j_id0:theTemplatePage:j_id2:j_id3:j_id5:j_id153"> 
            <div class="TopNav"> 
                <ul>
                    <li class=""><a href="/" class="Home ActiveMenu">Home</a></li>
                    <li class=""><a href="cases" class="Support">Support</a></li>
                    <li class=""><a href="#">Resources</a></li>
                    <li class=""><a href="#" >Community Info</a></li>
                    <li class=""><a href="#" >Billing</a></li>
                </ul>
            </div>
        </span>
        <div id="j_id0:theTemplatePage:j_id2:j_id3:j_id5:j_id816"></div>
        </form>

        <%= yield %>


<div class="footer">
                <div class="g220 ml30">
                    <h6>SUPPORT</h6>
                    <li>
<script type="text/javascript" language="Javascript">function dpf(f) {var adp = f.adp;if (adp != null) {for (var i = 0;i < adp.length;i++) {adp[i].parentNode.removeChild(adp[i]);}}};function apf(f, pvp) {var adp = new Array();f.adp = adp;var ps = pvp.split(',');for (var i = 0,ii = 0;i < ps.length;i++,ii++) {var p = document.createElement("input");p.type = "hidden";p.name = ps[i];p.value = ps[i + 1];f.appendChild(p);adp[ii] = p;i += 1;}};function jsfcljs(f, pvp, t) {apf(f, pvp);var ft = f.target;if (t) {f.target = t;}f.submit();f.target = ft;dpf(f);};</script>
<a href="#" onclick="if(typeof jsfcljs == 'function'){jsfcljs(document.getElementById('j_id0:j_id2:j_id3:j_id5'),'j_id0:j_id2:j_id3:j_id5:j_id71,j_id0:j_id2:j_id3:j_id5:j_id71,url,/knowledge/knowledgeHome.apexp','_top');}return false">Knowledge Base</a>
                    </li>
                    <li><a href="#" onclick="if(typeof jsfcljs == 'function'){jsfcljs(document.getElementById('j_id0:j_id2:j_id3:j_id5'),'j_id0:j_id2:j_id3:j_id5:j_id74,j_id0:j_id2:j_id3:j_id5:j_id74,url,https://c.cs18.visual.force.com/apex/SupportSiteNewCase','_top');}return false">Create a Case</a>
                    </li>
                    <li><a href="#" onclick="if(typeof jsfcljs == 'function'){jsfcljs(document.getElementById('j_id0:j_id2:j_id3:j_id5'),'j_id0:j_id2:j_id3:j_id5:j_id77,j_id0:j_id2:j_id3:j_id5:j_id77,url,https://cs18.salesforce.com/500/l?retURL=https%3A%2F%2Fc.cs18.visual.force.com%2Fapex%2FSupportSitePortalFooter','_top');}return false">View Cases</a>
                    </li>
                    <li><a href="#" onclick="if(typeof jsfcljs == 'function'){jsfcljs(document.getElementById('j_id0:j_id2:j_id3:j_id5'),'j_id0:j_id2:j_id3:j_id5:j_id80,j_id0:j_id2:j_id3:j_id5:j_id80,url,https://c.cs18.visual.force.com/apex/SupportSiteReportingPage','_top');}return false">Download Case Report</a>
                    </li>
                </div>
                <div class="g220 ml30">
                    <h6>RESOURCES</h6>
                    <li><a href="#" onclick="if(typeof jsfcljs == 'function'){jsfcljs(document.getElementById('j_id0:j_id2:j_id3:j_id5'),'j_id0:j_id2:j_id3:j_id5:j_id83,j_id0:j_id2:j_id3:j_id5:j_id83,url,/knowledge/knowledgeHome.apexp','_top');}return false">Knowledge Base</a>
                    </li>
                    <li><a href="#" onclick="if(typeof jsfcljs == 'function'){jsfcljs(document.getElementById('j_id0:j_id2:j_id3:j_id5'),'j_id0:j_id2:j_id3:j_id5:j_id86,j_id0:j_id2:j_id3:j_id5:j_id86,url,https://c.cs18.visual.force.com/apex/TrainingDocumentationProfessional','_top');}return false">Release/Tech Info</a>
                    </li>
                    <li><a href="#" onclick="if(typeof jsfcljs == 'function'){jsfcljs(document.getElementById('j_id0:j_id2:j_id3:j_id5'),'j_id0:j_id2:j_id3:j_id5:j_id89,j_id0:j_id2:j_id3:j_id5:j_id89,url,http://www.concurtraining.com/customers/concur/TrainingToolkit/index.htm','_blank');}return false">Training</a>
                    </li>
                    <li><a href="#" onclick="if(typeof jsfcljs == 'function'){jsfcljs(document.getElementById('j_id0:j_id2:j_id3:j_id5'),'j_id0:j_id2:j_id3:j_id5:j_id92,j_id0:j_id2:j_id3:j_id5:j_id92,url,https://c.cs18.visual.force.com/apex/Webinars','_top');}return false">Webinars</a>
                    </li>
                </div>
                <div class="g220 ml30">
                    <h6>COMMUNITY INFO</h6>
                    <li><a href="#" onclick="if(typeof jsfcljs == 'function'){jsfcljs(document.getElementById('j_id0:j_id2:j_id3:j_id5'),'j_id0:j_id2:j_id3:j_id5:j_id95,j_id0:j_id2:j_id3:j_id5:j_id95,url,https://c.cs18.visual.force.com/apex/Travel_Expense_main','_top');}return false">Community</a>
                    </li>
                    <li><a href="#" onclick="if(typeof jsfcljs == 'function'){jsfcljs(document.getElementById('j_id0:j_id2:j_id3:j_id5'),'j_id0:j_id2:j_id3:j_id5:j_id98,j_id0:j_id2:j_id3:j_id5:j_id98,url,/ideas/ideaList.apexp','_top');}return false">Solution Suggestions</a>
                    </li>
                </div>
                <div class="g220 ml30">
                    <h6>CONTACT US</h6>
                    <li><a href="#" onclick="if(typeof jsfcljs == 'function'){jsfcljs(document.getElementById('j_id0:j_id2:j_id3:j_id5'),'j_id0:j_id2:j_id3:j_id5:j_id101,j_id0:j_id2:j_id3:j_id5:j_id101,url,https://c.cs18.visual.force.com/apex/ContactUsCTE','_top');}return false">Contact Us</a>
                    </li>
                </div>
            </div>
</div>
</body>
</html>                